<div id="container-instructions" style="border: none">

<h1>Instructions: Part 3</h1>

    <hr>

    <div class="instructions well" style="overflow: hidden">
        <script type="text/javascript">

        <p>
        The gray circle indicates the region where you can place your next move.  This region is the neighborhood around your most recent move. This mean that you can only get to farther areas gradually, by taking small steps.
        </p>
        <!--
        <p>
            Note that your next move cannot be placed outside the gray circle, as shown below, and accordingly, your bright green pointer can never leave this area.
        </p>
         -->
        <div style="float: left">
            <h5 align="left">Example task screen 2</h5>
            <img style="float: left" src="{{ server_location }}/static/images/GameScreenshot3.png" alt="Lab Logo" width = "485" height="300" align="left"/>
        </div>

        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
