<div id="container-instructions" style="border: none">

<h1>Instructions: Part 3</h1>

    <hr>

    <div class="instructions well" style="overflow: hidden">

        <p>
Each move reveals a cloud of red dots. The more dots are shown, the “hotter” your move is (closer to the hotspot).  Use this as a guide to place moves closer to the hotspot.

</p>
        <div style="float: left">
            <h5 align="left">Example task screen 2</h5>
            <img style="float: left" src="{{ server_location }}/static/images/GameScreenshot3.png" alt="Lab Logo" width = "485" height="300" align="left"/>
        </div>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
