<div id="container-instructions" style="border: none">

<h1>Instructions: Part 1</h1>

	<hr>

	<div class="instructions well" style="overflow: hidden">

	    <p>
		    Welcome to the Hotspot games. Read the instructions carefully!  You will receive $0.15 for finishing an interactive tutorial and quiz. Successfully complete the tutorial and quiz to proceed onto the extended bonus round, where you get paid a bonus for every hotspot game you complete. 
	    </p>
       
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>
         


	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
